Repository nupsol-lab/demoDevOps, changes with the owners that CODEOWNERS names for each.
All owners: @team-smp, @team-ccp, @devops

test
  Dockerfile
Owners: @devops

test
  .dockerignore
Owners: none

test
  Dockerfile
Owners: @devops

testé
  Dockerfile
Owners: @devops

Added fast build feature (should still be tested)
  .dockerignore
  Dockerfile
  build.gradle.kts
  docker-compose.dev.yml
  gradle.properties
  prepare_build_env.sh
Owners: @devops

version quick build v1
  .overlayignore
  Dockerfile
  docker-compose.dev.yml
  prepare_build_env.sh
  src/main/java/com/example/demodevops/ccp/repository/CustomerRepository.java
  src/main/java/com/example/demodevops/ccp/web/CustomerController.java
Owners: @devops, @team-ccp

Version quick build v2
  docker-compose.dev.yml
  src/main/resources/application-docker.yml
Owners: none

Last version
  prepare_build_env.sh
  src/main/java/com/example/demodevops/ccp/web/CustomerController.java
Owners: @team-ccp

finished version
  prepare_build_env.sh
  src/main/java/com/example/demodevops/smp/web/ProductController.java
Owners: @team-smp

Multi profile mode building spring app integrated with DevOps/ACL
  prepare_build_env.sh
  src/main/java/com/example/demodevops/smp/web/ProductController.java
Owners: @team-smp

Update build.gradle.kts (remove actuator)
  build.gradle.kts
Owners: none

Update docker-compose.dev.yml (remove actuator)
  docker-compose.dev.yml
Owners: none

Update docker-compose.yml
  docker-compose.yml
Owners: @devops

Update prepare_build_env.sh (remove actuator)
  prepare_build_env.sh
Owners: none

Update prepare_build_env.sh
  prepare_build_env.sh
Owners: none

Update prepare_build_env.sh (corrected)
  prepare_build_env.sh
Owners: none

Update prepare_build_env.sh (final version)
  prepare_build_env.sh
Owners: none

Update application.yml (remove actuator)
  src/main/resources/application.yml
Owners: none

CODEOWNERS:

#Contrôle d’accès par modules (packages)

# Module SMP : produits
/src/main/java/com/example/demodevops/smp/**      @team-smp


# Module CCP : clients
/src/main/java/com/example/demodevops/ccp/**      @team-ccp


# Infra & CI
/.github/**                            @devops
/Dockerfile                            @devops
/docker-compose.yml                    @devops
